* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Major Mono Display', monospace;
    font-family: 'REM', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #202833, #203A43, #0F2027);
    background: linear-gradient(to bottom, #202833, #203A43, #0F2027);
}

.formcontainer {
    width: 25%;
    border-radius: 1%;
    margin: 0 auto;
    height: 75%;
    background-color: #45a29f;
    overflow: hidden;
    /* border: 3px solid yellow; */
    box-shadow: #202833 0px 1px 2px, #202833 0px 2px 4px, #202833 0px 4px 8px, #202833 0px 8px 16px, #202833 0px 16px 32px, #202833 0px 32px 64px;
    box-shadow: #66fcf238 0px 0px 0px 3px;
}

.heading {
    width: 100%;
    height: 20%;
    background-color: #202833;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    color: #66fcf1;
    box-shadow: #2028338f 0px 0px 0px 3px;
}

.heading h1 {
    padding: 10% 0;
}

.form {
    /* border: 2px dashed yellow; */
    width: 80%;
    margin: 0 auto;
}

.form input {
    border-radius: 8px;
    border: none;
    font-family: 'REM', sans-serif;
    outline: none;
    padding: 5%;
    margin: 10% 0 3% 0;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #d4d8df;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* .form p {
    display: block;
    position: absolute;
    top: 0;
} */
.others p,
.others {
    text-align: center;
}

.form button,
.others button {
    font-family: 'REM', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #45a29f;
    display: block;
    margin: 5% auto;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #202833;
    cursor: pointer;
}

.form a {
    color: #0F2027;
}


button img {
    width: 25px;
}
.btn{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#fbbtn {
    width: 30%;
    display: inline-block;
    background-color: #1877f2;
    color: white;
    margin-right: 20px;
}

#googlebtn {
    background-color: white;
    width: 30%;
    display: inline-block;
}

#googlebtn img {
    position: relative;
    top: 5px;
    right: 10px;
}

#googlebtn span:nth-of-type(1),
#googlebtn span:nth-of-type(4) {
    color: #3677f2;
}

#googlebtn span:nth-of-type(2),
#googlebtn span:nth-of-type(6) {
    color: #e8362a;
}

#googlebtn span:nth-of-type(3) {
    color: #fdb20a;
}

#googlebtn span:nth-of-type(5) {
    color: #2a9e46;
}
/* //signup */
#signupform{
    padding-top: 5%;    
}
#signupform .formcontainer{
    height: auto;
}
/* //Forget Page Styling */
#forget {
    margin: 10% 0 0 0;
}

#forgotform {
    height: auto;
}
#forgotform p:last-child{
    text-align: center;
    padding-bottom: 20px;
}